.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  flex-grow: 1;
}

.footer-address--indent-right {
  margin-right: 70px;
}

.footer-address__logo {
  margin-bottom: 20px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link {
  transition: var(--main-transition);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__link--white {
  color: #ffffff;
}

.footer-socials {
  margin-right: 93px;
}

.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.footer-button {
  width: 200px;
  padding: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.footer-button__wrap {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer-button__icon {
  fill: #ffffff;
}
