.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  transition: var(--main-transition);

  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.site-nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
}

.site-nav__item {
  margin-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc (16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);

  &:last-child {
    margin-right: 0;
  }
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-address__item {
  margin-right: 48px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  &:last-child {
    margin-right: 0;
  }
}

.header-address__link {
  transition: var(--main-transition);

  display: flex;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-address__icon {
  fill: currentColor;
  margin-right: 10px;
}
