.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__link {
  transition: var(--main-transition);

  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.site-nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
}

.site-nav__item {
  margin-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc (16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);

  &:last-child {
    margin-right: 0;
  }
}

.header-address {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.header-address__item {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 48px;

    font-size: 14px;
    line-height: calc(16 / 14);

    &:not(:last-child) {
      margin-bottom: 00px;
    }
  }
}

.header-address__link {
  transition: var(--main-transition);

  display: flex;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-address__icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-button {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  border: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  padding-top: 48px;
  padding-bottom: 48px;

  background-color: #ffffff;
  width: 100vw;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu-address {
  margin-bottom: 64px;
}

.mob-menu-address__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-addres-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-address-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-socials__list {
  display: flex;
  align-items: center;
}

.mob-menu-socials__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mob-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}
