.work {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-list-gap));
  margin-right: calc(-1 * var(--card-list-gap));
}

.work__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: var(--card-list-gap);
  margin-right: var(--card-list-gap);
}

.work-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  background: #ffffff;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &:hover .work-card__text-animation,
  &:focus .work-card__text-animation {
    transform: translateY(0);
    cursor: pointer;
  }
}

.work-card__thumb {
  position: relative;
  overflow: hidden;
}

.work-card__text-animation {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.work-card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-card__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.work-card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
