.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  display: flex;
  justify-content: center;
}

.section-list--indentation-lower {
  margin-bottom: 50px;
}

.section-list__item:not(:last-child) {
  margin-right: 8px;
}

.section-list__btn {
  transition: color 250ms, background-color 250ms, box-shadow 250ms,
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    background-color: var(--accent-background-color);
    color: var(--active-btn-text-color);
  }
}
